.socialBtn {
 // display: inline-block;// // background: #000;
 // padding: 1em;
}

.redesSociales {
 text-align: center;

 @include mq(pc) {
  text-align: left;

 }

 margin-bottom: 1.5rem;


 &__icon {
  color: $color-primary;
  // color: $color-frame;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  transition: all .3s ease-in-out;

  &:hover {
   // font-size: 23px;
   color: $color-text-modal;
  }

  &:not(:last-of-type) {
   margin-right: $gutter2;
  }
 }

 // background-color: red;
}