.redesSociales {
 text-align: center;
 // margin-bottom: 70px;
 // border-top: 1px solid currentColor;
 // padding-top: 1rem;
 margin-top: 6px;

 position: absolute;
 // position: relative;
 top: 15vw;
 left: 59vw;
 height: 10px;
 font-size: 16px;
 animation: tituloScaleHeader 1s 1s ease-in-out forwards;
 opacity: 0;

 @include mqmax(pc) {
  display: none;
 }

 &__icon {
  color: $color-White;
  // color: $color-frame;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  transition: all .3s ease-in-out;

  &:hover {
   // font-size: 23px;
   color: $color-text-modal;
  }

  &:not(:last-of-type) {
   margin-right: $gutter2;
  }
 }

 // background-color: red;
}