<footer class="footer container-pc">
          <h4 class="footerTitle">Créditos</h4>
          <div class="footer-contenedorPersonas"></div>
          <p class="footerArea">Diseño e infografía:<span class="footerName"> Daniel Celis</span></p>
          <p class="footerArea">Maquetación:<span class="footerName"> Norman Jaimes</span></p>
          <p class="footerArea">Modelado 3d y animación:<span class="footerName"> Luis Eduardo Jiménez</span></p>
          <p class="footerArea">Directora de arte:<span class="footerName"> Sandra Rojas</span></p>
          <p class="footerArea">Subeditor Internacional:<span class="footerName"> Carlos Reyes</span></p>
          <p class="footerArea">Coordinador de Reportajes Multimedia:<span class="footerName"> David Alejandro López</span></p>
          <p class="footerArea">Fecha de publicación:<span class="footerName"> 27 de noviembre de 2024</span></p>
        </footer>
        <div class="contenedorTrustProject container-tablet">
          <div class="col1">
            <p class="description">Conforme a los criterios de</p><img class="logoTrustProject" src="https://www.eltiempo.com/infografias/2024/11/MisilesUK/assets/LogoTrustProject-Misil.svg?et11190836" alt="Misiles ATACMS" loading="lazy"><a class="enlace" href="https://www.eltiempo.com/the-trust-project/buenas-practicas" target="_blank" rel="noopener noreferrer">Más información</a>
          </div>
          <div class="col2">
            <p class="titulo">¿Cómo se desarrolló este especial periodístico?</p>
            <p class="parrafo">Luego de que se conociera que Estados Unidos autorizó a Ucrania a utilizar el Sistema de Misiles Tácticos del Ejército (ATACMS) en territorio ruso, un equipo de EL TIEMPO decidió investigar sobre su alcance, la forma en la que se elaboran y el impacto que generarían en la guerra. La redacción Internacional de esta casa editorial realizó cubrimiento y análisis del nuevo capítulo de tensión entre Kiev y Moscú, y el equipo de diseño digital investigó y creó animaciones e infografías para contar en detalle los misiles.</p>
            <p class="titulo2">Referencias</p>
            <p class="subtitulo">Cientos de objetivos militares rusos se encuentran dentro del alcance del ATACMS. ArcGIS.</p><a class="enlaceTrust" href="https://www.lockheedmartin.com/en-us/products/himars.html" target="_blank" rel="noopener noreferrer">https://www.lockheedmartin.com/en-us/products/himars.html</a>
            <p class="subtitulo">Tecnología avanzada de los misiles militares ATACMS.</p><a class="enlaceTrust" href="https://www.lockheedmartin.com/en-us/products/army-tactical-missile-system.html" target="_blank" rel="noopener noreferrer">Lockheed Martin. https://www.lockheedmartin.com/en-us/products/army-tactical-missile-system.html</a>
            <p class="subtitulo">Los lanzadores de fuego de precisión, móvil y de largo alcance. HIMARS. Lockheed Martin.</p><a class="enlaceTrust" href="https://www.lockheedmartin.com/en-us/products/himars.html" target="_blank" rel="noopener noreferrer">https://www.lockheedmartin.com/en-us/products/himars.html</a>
            <p class="subtitulo marginBottom">Agencias AFP y EFE.</p>
          </div>
        </div>