block config
- var imgQuery = "?et11190836";

//- - var paginaPrincipal = `https://www.eltiempo.com/deportes/otros-deportes/abuso-sexual-en-el-deporte-victimas-fueron-presionadas-por-entrenadores-720551`

- var especialTitulo = "Misiles ATACMS";
- var textoRedesSociales = especialTitulo;
- var redesEnlace = "https://www.eltiempo.com/bogota/las-10-modalidades-mas-comunes-de-robo-y-los-dias-con-mas-atracos-en-bogota-801870";
- var imgURL = "https://www.eltiempo.com/infografias/2024/11/MisilesUK/assets/";
//- - var imgURL = "./assets/";

//- -var barraTiempo = true;
-var barraTiempo = false;
//- //- Prefijo para no tener problemas con el CMS
//- //- -let prefijo = "NNJ-";
//- //- -let imgURL = "../../assets/";

//- -let pageTitle = 'Título por defecto desde variables.pug'
//- -let siteName = 'El Tiempo'
//- -let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
//- -let twitterAccount = '@NormanJaimes'

//- //- Variable para añadir una imagen que se presentara en las redes sociales
//- -let pageImage = ''

//- //- Página actual
//- -let currentPage = 'home';

//- //- Activar si se desea tener una barra en la parte superior de la página mostrando alguna información general de esta (Utilizado para mostrar promociones o cambios en ésta.)
//- -let topbar = true
//- -let sidebar = false
//- -let domain = 'https://example.com'

//- //- Creación de las páginas que va a tener el sitio web
//- -
//-  let pages = [
//-   {
//-    title: 'Home',
//-    url: '/',
//-    child: []
//-   },
//-   {
//-    title: 'About',
//-    url: 'about.html',
//-    child: [
//-     {
//-      title: 'Subitem1',
//-      url: 'subitem1.html'
//-     },
//-     {
//-      title: 'Subitem2',
//-      url: 'subitem2.html'
//-     }
//-    ]
//-   }
//-  ]
