.iconoPrincipal {
 width: min(120px, 90%);
 @extend .marginAuto;

 @include mq(pc) {
  margin-left: 0;
 }
}

.max498 {
 width: min(100%, 498px);
}

.max469 {
 width: min(100%, 469px);
}

.imgCohete {
 margin-top: 3rem;
 margin-bottom: 4rem;

 @include mq(pc) {
  margin-left: -7rem;
 }
}

.articles {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
 gap: 56px;
 margin-top: 71px;

}

.grid-2col {
 @include mqmax(pc) {
  display: initial !important;
 }
}

.contenedorImgScroll {
 position: relative;
 // margin-block: 20rem;
 margin-bottom: 33rem;

 @include mq(pc) {

  margin-bottom: 20rem;
 }
}

.contenedorAreaScroll {
 position: sticky;
 top: 0;
 translate: 0 25%;

}

#imgScroll {}

.contenedorTextoScroll {
 position: absolute;
 top: 15%;
 left: 50%;
 translate: -50% 0;
 visibility: hidden;

 &.show {
  opacity: 1;
  visibility: visible;
 }

 .sectionTitle {
  font-size: clamp(23px, 2vw + .5rem, 23px);
  line-height: 30px;
  margin-bottom: 29px;
 }

 .sectionParagraph {
  font-size: clamp(18px, 2vw + .5rem, 18px);
  line-height: 26px;
 }
}