        .cls-1 {
         fill: #d0e8f2;
        }

        .cls-2,
        .cls-3 {
         fill: #364b9b;
        }

        .cls-4 {
         fill: #6d4545;
        }

        .cls-5,
        .cls-6,
        .cls-7,
        .cls-8,
        .cls-9,
        .cls-10,
        .cls-11 {
         mix-blend-mode: multiply;
        }

        .cls-5,
        .cls-12,
        .cls-13,
        .cls-9 {
         fill: #fff;
        }

        .cls-14 {
         fill: #b14a4b;
        }

        .cls-6,
        .cls-15,
        .cls-16,
        .cls-8,
        .cls-13,
        .cls-9,
        .cls-17,
        .cls-3,
        .cls-18,
        .cls-19,
        .cls-20,
        .cls-10,
        .cls-21,
        .cls-22 {
         fill-rule: evenodd;
        }

        .cls-6,
        .cls-7,
        .cls-23 {
         fill: url(#Nueva_muestra_de_motivo_copia_2);
        }

        .cls-15 {
         fill: url(#Nueva_muestra_de_motivo_2);
         opacity: .5;
        }

        .cls-24,
        .cls-25,
        .cls-26,
        .cls-27,
        .cls-28,
        .cls-29,
        .cls-30,
        .cls-31,
        .cls-32,
        .cls-33,
        .cls-34,
        .cls-35,
        .cls-36,
        .cls-37 {
         fill: none;
        }

        .cls-24,
        .cls-23 {
         stroke-dasharray: 2.07 2.07;
        }

        .cls-24,
        .cls-23,
        .cls-26 {
         stroke: #999;
        }

        .cls-24,
        .cls-23,
        .cls-26,
        .cls-28 {
         stroke-width: .52px;
        }

        .cls-24,
        .cls-23,
        .cls-26,
        .cls-28,
        .cls-32 {
         stroke-linejoin: bevel;
        }

        .cls-38 {
         fill: #9d9d9c;
        }

        .cls-16,
        .cls-39 {
         fill: #519e8e;
        }

        .cls-8,
        .cls-11 {
         fill: #f2e0da;
        }

        .cls-40,
        .cls-20 {
         fill: #71ccf4;
        }

        .cls-26 {
         stroke-dasharray: 1.03 1.03;
        }

        .cls-41 {
         clip-path: url(#clippath-1);
        }

        .cls-27,
        .cls-34 {
         stroke: #b14a4b;
        }

        .cls-42 {
         isolation: isolate;
        }

        .cls-17 {
         fill: #009bd6;
        }

        .cls-43 {
         stroke-width: 2.07px;
        }

        .cls-43,
        .cls-30,
        .cls-35 {
         stroke: #fff;
        }

        .cls-43,
        .cls-44 {
         fill: #1d1d1b;
        }

        .cls-45 {
         fill: #d4cfd3;
        }

        .cls-28 {
         stroke: #9d9d9c;
        }

        .cls-28,
        .cls-32 {
         stroke-linecap: square;
        }

        .cls-29 {
         stroke: #9e9d9c;
         stroke-width: .75px;
        }

        .cls-18 {
         fill: #e2ebe8;
        }

        .cls-46 {
         fill: #e9b7a9;
        }

        .cls-46,
        .cls-31,
        .cls-47,
        .cls-34,
        .cls-36,
        .cls-37 {
         stroke-miterlimit: 10;
        }

        .cls-46,
        .cls-47 {
         stroke: #6d4545;
        }

        .cls-30 {
         stroke-width: 2.07px;
        }

        .cls-31 {
         stroke: #000;
         stroke-width: .75px;
        }

        .cls-32 {
         stroke: #010101;
         stroke-dasharray: 1.52 3.05;
         stroke-width: 1.52px;
        }

        .cls-19,
        .cls-48 {
         fill: #e5eaf7;
        }

        .cls-33 {
         stroke: #80c2d7;
        }

        .cls-47 {
         fill: #f0dfd9;
        }

        .cls-49 {
         fill: #f4f4f4;
        }

        .cls-34 {
         stroke-width: 7px;
        }

        .cls-10 {
         fill: #f7bfb0;
        }

        .cls-35 {
         stroke-width: 2.07px;
        }

        .cls-36 {
         stroke: #1d1d1b;
         stroke-width: .62px;
        }

        .cls-21 {
         fill: #f7f7f7;
        }

        .cls-50 {
         clip-path: url(#clippath-2);
        }

        .cls-37 {
         stroke: #e3e3e3;
         stroke-width: .31px;
        }

        .cls-51 {
         clip-path: url(#clippath);
        }

        .cls-22 {
         fill: #ededed;
        }

        g[id*="-Hover"] {
         opacity: 0;
         cursor: pointer;

         &:hover {
          opacity: 1;
         }
        }

        g[id*="-Presionado"] {
         display: none;
        }

        .contenedorMapaArea {
         position: relative;
         overflow-x: clip;
         overflow-y: visible;
         height: fit-content;
        }

        .contenedorMapa {
         // height: 100%;

         @include mqmax(pc) {
          scale: 1;
          translate: 0;
         }
        }

        .mapaClick,
        .mapaHover {
         position: absolute;
         inset: 0;
        }

        .showSVG {
         display: initial !important;
        }


        @include mqmax(pc) {

         .cls-1,
         .cls-2,
         .cls-3,
         .cls-4,
         .cls-5,
         .cls-6,
         .cls-7,
         .cls-8,
         .cls-9,
         .cls-10,
         .cls-11 {
          fill: none;
         }

         .cls-12,
         .cls-13,
         .cls-14,
         .cls-15,
         .cls-16,
         .cls-17,
         .cls-18,
         .cls-19,
         .cls-20 {
          fill: #fff;
         }

         .cls-12,
         .cls-21,
         .cls-17,
         .cls-22,
         .cls-23,
         .cls-24,
         .cls-25 {
          mix-blend-mode: multiply;
         }

         .cls-26,
         .cls-13,
         .cls-27,
         .cls-7,
         .cls-8,
         .cls-28 {
          font-size: 14px;
         }

         .cls-26,
         .cls-29,
         .cls-16,
         .cls-27,
         .cls-19,
         .cls-7,
         .cls-8,
         .cls-30,
         .cls-28,
         .cls-31 {
          font-family: AdelleSans-Regular, 'Adelle Sans';
         }

         .cls-26,
         .cls-27 {
          fill: #1d1d1b;
         }

         .cls-32,
         .cls-13,
         .cls-33,
         .cls-15,
         .cls-34,
         .cls-35,
         .cls-20 {
          font-family: AdelleSans-Bold, 'Adelle Sans';
          font-weight: 700;
         }

         .cls-32,
         .cls-36,
         .cls-33,
         .cls-15,
         .cls-6,
         .cls-20,
         .cls-11,
         .cls-37 {
          stroke-miterlimit: 10;
         }

         .cls-32,
         .cls-33,
         .cls-15,
         .cls-30,
         .cls-20 {
          font-size: 15px;
         }

         .cls-32,
         .cls-33,
         .cls-15,
         .cls-20 {
          stroke-width: .5px;
         }

         .cls-32,
         .cls-33,
         .cls-27,
         .cls-7,
         .cls-8 {
          stroke: #fff;
         }

         .cls-32,
         .cls-33,
         .cls-38,
         .cls-35,
         .cls-28,
         .cls-31 {
          fill: #6d4545;
         }

         .cls-39,
         .cls-34,
         .cls-30 {
          fill: #b14a4b;
         }

         .cls-14,
         .cls-40,
         .cls-41,
         .cls-42,
         .cls-43,
         .cls-17,
         .cls-44,
         .cls-45,
         .cls-22,
         .cls-46,
         .cls-24,
         .cls-25,
         .cls-47,
         .cls-48 {
          fill-rule: evenodd;
         }

         .cls-21,
         .cls-24 {
          fill: #f2e0da;
         }

         .cls-40,
         .cls-49 {
          fill: #ededed;
         }

         .cls-41 {
          fill: #e2ebe8;
         }

         .cls-2,
         .cls-3,
         .cls-50 {
          stroke: #999;
         }

         .cls-2,
         .cls-3,
         .cls-50,
         .cls-4 {
          stroke-linejoin: bevel;
          stroke-width: .22px;
         }

         .cls-2,
         .cls-50 {
          stroke-dasharray: .88 .88;
         }

         .cls-42 {
          fill: #f7f7f7;
         }

         .cls-36 {
          fill: #e9b7a9;
         }

         .cls-36,
         .cls-15,
         .cls-20,
         .cls-37 {
          stroke: #6d4545;
         }

         .cls-3 {
          stroke-dasharray: .44 .44;
         }

         .cls-33,
         .cls-20,
         .cls-51 {
          letter-spacing: 0em;
         }

         .cls-29 {
          fill: #9d9d9c;
          font-size: 13px;
         }

         .cls-43,
         .cls-52 {
          fill: #e5eaf7;
         }

         .cls-50,
         .cls-22,
         .cls-23 {
          fill: url(#Nueva_muestra_de_motivo_copia_2);
         }

         .cls-16 {
          font-size: 6.83px;
         }

         .cls-27 {
          stroke-width: .88px;
         }

         .cls-53 {
          isolation: isolate;
         }

         .cls-4 {
          stroke: #9d9d9c;
          stroke-linecap: square;
         }

         .cls-54 {
          clip-path: url(#clippath-1);
         }

         .cls-55 {
          letter-spacing: 0em;
         }

         .cls-56 {
          letter-spacing: 0em;
         }

         .cls-57 {
          letter-spacing: 0em;
         }

         .cls-58 {
          letter-spacing: 0em;
         }

         .cls-5 {
          stroke: #80c2d7;
         }

         .cls-59 {
          letter-spacing: 0em;
         }

         .cls-34 {
          font-size: 19px;
         }

         .cls-60 {
          letter-spacing: 0em;
         }

         .cls-19,
         .cls-31 {
          font-size: 16px;
         }

         .cls-6 {
          stroke: #1d1d1b;
          stroke-width: .26px;
         }

         .cls-35 {
          font-size: 17px;
         }

         .cls-7 {
          stroke-width: .88px;
         }

         .cls-8 {
          stroke-width: .88px;
         }

         .cls-61 {
          letter-spacing: 0em;
         }

         .cls-44,
         .cls-62 {
          fill: #71ccf4;
         }

         .cls-45 {
          fill: #009bd6;
         }

         .cls-63,
         .cls-48 {
          fill: #519e8e;
         }

         .cls-64 {
          letter-spacing: -.08em;
         }

         .cls-65 {
          letter-spacing: -.08em;
         }

         .cls-66 {
          letter-spacing: -.08em;
         }

         .cls-9 {
          stroke: #9e9d9c;
          stroke-width: .75px;
         }

         .cls-67 {
          letter-spacing: -.07em;
         }

         .cls-68 {
          letter-spacing: -.06em;
         }

         .cls-10 {
          stroke: #b14a4b;
         }

         .cls-46 {
          fill: url(#Nueva_muestra_de_motivo_2);
          opacity: .5;
         }

         .cls-69 {
          letter-spacing: -.02em;
         }

         .cls-70 {
          letter-spacing: -.02em;
         }

         .cls-71 {
          letter-spacing: -.02em;
         }

         .cls-72 {
          letter-spacing: -.02em;
         }

         .cls-73 {
          letter-spacing: -.03em;
         }

         .cls-74 {
          letter-spacing: -.02em;
         }

         .cls-75 {
          letter-spacing: -.02em;
         }

         .cls-76 {
          letter-spacing: -.02em;
         }

         .cls-77 {
          letter-spacing: -.02em;
         }

         .cls-78 {
          letter-spacing: -.01em;
         }

         .cls-79 {
          letter-spacing: -.02em;
         }

         .cls-80 {
          letter-spacing: -.02em;
         }

         .cls-81 {
          letter-spacing: -.02em;
         }

         .cls-82 {
          letter-spacing: -.01em;
         }

         .cls-83 {
          letter-spacing: -.01em;
         }

         .cls-84 {
          letter-spacing: -.01em;
         }

         .cls-85 {
          letter-spacing: -.01em;
         }

         .cls-86 {
          letter-spacing: -.02em;
         }

         .cls-87 {
          letter-spacing: -.02em;
         }

         .cls-88 {
          letter-spacing: -.02em;
         }

         .cls-89 {
          letter-spacing: -.01em;
         }

         .cls-90 {
          letter-spacing: -.01em;
         }

         .cls-91 {
          letter-spacing: -.01em;
         }

         .cls-92 {
          letter-spacing: -.04em;
         }

         .cls-93 {
          letter-spacing: -.05em;
         }

         .cls-94 {
          letter-spacing: -.03em;
         }

         .cls-95 {
          letter-spacing: -.03em;
         }

         .cls-96 {
          letter-spacing: -.03em;
         }

         .cls-11 {
          stroke: #e3e3e3;
          stroke-width: .13px;
         }

         .cls-97 {
          letter-spacing: -.03em;
         }

         .cls-98 {
          letter-spacing: -.04em;
         }

         .cls-37,
         .cls-99 {
          fill: #f0dfd9;
         }

         .cls-100 {
          letter-spacing: -.04em;
         }

         .cls-101 {
          letter-spacing: -.03em;
         }

         .cls-102 {
          letter-spacing: -.03em;
         }

         .cls-103 {
          letter-spacing: -.03em;
         }

         .cls-104 {
          letter-spacing: 0em;
         }

         .cls-105 {
          letter-spacing: 0em;
         }

         .cls-106 {
          letter-spacing: 0em;
         }

         .cls-107 {
          letter-spacing: 0em;
         }

         .cls-108 {
          letter-spacing: 0em;
         }

         .cls-109 {
          letter-spacing: 0em;
         }

         .cls-110 {
          letter-spacing: 0em;
         }

         .cls-111 {
          letter-spacing: -.01em;
         }

         .cls-112 {
          letter-spacing: -.01em;
         }

         .cls-113 {
          letter-spacing: 0em;
         }

         .cls-114 {
          letter-spacing: 0em;
         }

         .cls-115 {
          letter-spacing: 0em;
         }

         .cls-116 {
          letter-spacing: 0em;
         }

         .cls-117 {
          letter-spacing: 0em;
         }

         .cls-118 {
          letter-spacing: 0em;
         }

         .cls-119 {
          letter-spacing: 0em;
         }

         .cls-120 {
          letter-spacing: 0em;
         }

         .cls-121 {
          letter-spacing: 0em;
         }

         .cls-122 {
          letter-spacing: 0em;
         }

         .cls-123 {
          letter-spacing: 0em;
         }

         .cls-124 {
          letter-spacing: 0em;
         }

         .cls-125,
         .cls-47 {
          fill: #364b9b;
         }

         .cls-126 {
          letter-spacing: 0em;
         }

         .cls-127 {
          letter-spacing: 0em;
         }

         .cls-128 {
          letter-spacing: 0em;
         }

         .cls-129 {
          letter-spacing: 0em;
         }

         .cls-130 {
          letter-spacing: 0em;
         }

         .cls-131 {
          letter-spacing: 0em;
         }

         .cls-132 {
          letter-spacing: 0em;
         }

         .cls-133 {
          clip-path: url(#clippath);
         }

         .cls-25 {
          fill: #f7bfb0;
         }
        }

        @include mqmax(pc) {
         g[id*=-Presionado] {
          display: block;
          user-select: none;
          pointer-events: none;
         }
        }