@include mq(pc) {
 .cls-1 {
  fill: #d0e8f2;
 }

 .cls-2,
 .cls-3 {
  fill: #364b9b;
 }

 .cls-4 {
  fill: #6d4545;
 }

 .cls-5,
 .cls-6,
 .cls-7,
 .cls-8,
 .cls-9,
 .cls-10,
 .cls-11 {
  mix-blend-mode: multiply;
 }

 .cls-5,
 .cls-12,
 .cls-13,
 .cls-9 {
  fill: #fff;
 }

 .cls-14 {
  fill: #b14a4b;
 }

 .cls-6,
 .cls-15,
 .cls-16,
 .cls-8,
 .cls-13,
 .cls-9,
 .cls-17,
 .cls-3,
 .cls-18,
 .cls-19,
 .cls-20,
 .cls-10,
 .cls-21,
 .cls-22 {
  fill-rule: evenodd;
 }

 .cls-6,
 .cls-7,
 .cls-23 {
  fill: url(#Nueva_muestra_de_motivo_copia_2);
 }

 .cls-15 {
  fill: url(#Nueva_muestra_de_motivo_2);
  opacity: 0.5;
 }

 .cls-24,
 .cls-25,
 .cls-26,
 .cls-27,
 .cls-28,
 .cls-29,
 .cls-30,
 .cls-31,
 .cls-32,
 .cls-33,
 .cls-34,
 .cls-35,
 .cls-36,
 .cls-37 {
  fill: none;
 }

 .cls-24,
 .cls-23 {
  stroke-dasharray: 2.07 2.07;
 }

 .cls-24,
 .cls-23,
 .cls-26 {
  stroke: #999;
 }

 .cls-24,
 .cls-23,
 .cls-26,
 .cls-28 {
  stroke-width: 0.52px;
 }

 .cls-24,
 .cls-23,
 .cls-26,
 .cls-28,
 .cls-32 {
  stroke-linejoin: bevel;
 }

 .cls-38 {
  fill: #9d9d9c;
 }

 .cls-16,
 .cls-39 {
  fill: #519e8e;
 }

 .cls-8,
 .cls-11 {
  fill: #f2e0da;
 }

 .cls-40,
 .cls-20 {
  fill: #71ccf4;
 }

 .cls-26 {
  stroke-dasharray: 1.03 1.03;
 }

 .cls-41 {
  clip-path: url(#clippath-1);
 }

 .cls-27,
 .cls-34 {
  stroke: #b14a4b;
 }

 .cls-42 {
  isolation: isolate;
 }

 .cls-17 {
  fill: #009bd6;
 }

 .cls-43 {
  stroke-width: 2.07px;
 }

 .cls-43,
 .cls-30,
 .cls-35 {
  stroke: #fff;
 }

 .cls-43,
 .cls-44 {
  fill: #1d1d1b;
 }

 .cls-45 {
  fill: #d4cfd3;
 }

 .cls-28 {
  stroke: #9d9d9c;
 }

 .cls-28,
 .cls-32 {
  stroke-linecap: square;
 }

 .cls-29 {
  stroke: #9e9d9c;
  stroke-width: 0.75px;
 }

 .cls-18 {
  fill: #e2ebe8;
 }

 .cls-46 {
  fill: #e9b7a9;
 }

 .cls-46,
 .cls-31,
 .cls-47,
 .cls-34,
 .cls-36,
 .cls-37 {
  stroke-miterlimit: 10;
 }

 .cls-46,
 .cls-47 {
  stroke: #6d4545;
 }

 .cls-30 {
  stroke-width: 2.07px;
 }

 .cls-31 {
  stroke: #000;
  stroke-width: 0.75px;
 }

 .cls-32 {
  stroke: #010101;
  stroke-dasharray: 1.52 3.05;
  stroke-width: 1.52px;
 }

 .cls-19,
 .cls-48 {
  fill: #e5eaf7;
 }

 .cls-33 {
  stroke: #80c2d7;
 }

 .cls-47 {
  fill: #f0dfd9;
 }

 .cls-49 {
  fill: #f4f4f4;
 }

 .cls-34 {
  stroke-width: 7px;
 }

 .cls-10 {
  fill: #f7bfb0;
 }

 .cls-35 {
  stroke-width: 2.07px;
 }

 .cls-36 {
  stroke: #1d1d1b;
  stroke-width: 0.62px;
 }

 .cls-21 {
  fill: #f7f7f7;
 }

 .cls-50 {
  clip-path: url(#clippath-2);
 }

 .cls-37 {
  stroke: #e3e3e3;
  stroke-width: 0.31px;
 }

 .cls-51 {
  clip-path: url(#clippath);
 }

 .cls-22 {
  fill: #ededed;
 }
}

g[id*='-Hover'] {
 opacity: 0;
 cursor: pointer;

 &:hover {
  opacity: 1;
 }
}

g[id*='-Presionado'] {
 display: none;
}

.contenedorMapaArea {
 position: relative;
 overflow-x: clip;
 overflow-y: visible;
 height: fit-content;
}

.contenedorMapa {
 // height: 100%;

 @include mqmax(pc) {
  scale: 1;
  translate: 0;
 }
}

.mapaClick,
.mapaHover {
 position: absolute;
 inset: 0;
}

.showSVG {
 display: initial !important;
}

.Croquis {
 cursor: pointer;
 z-index: 1000;
 position: relative;
}
