@include mqmax(pc) {
 .cls-1,
 .cls-2,
 .cls-3,
 .cls-4,
 .cls-5,
 .cls-6,
 .cls-7,
 .cls-8,
 .cls-9,
 .cls-10,
 .cls-11,
 .cls-12,
 .cls-13 {
  //   fill: none !important;
  opacity: 0;
 }

 .cls-14,
 .cls-15,
 .cls-16,
 .cls-17,
 .cls-18,
 .cls-19,
 .cls-20,
 .cls-21,
 .cls-22 {
  fill: #fff !important;
 }

 .cls-14,
 .cls-2,
 .cls-23,
 .cls-19,
 .cls-7,
 .cls-24,
 .cls-25,
 .cls-26,
 .cls-27 {
  mix-blend-mode: multiply !important;
 }

 .cls-28,
 .cls-15,
 .cls-29,
 .cls-9,
 .cls-10,
 .cls-30 {
  font-size: 14px !important;
 }

 .cls-28,
 .cls-31,
 .cls-18,
 .cls-29,
 .cls-21,
 .cls-9,
 .cls-10,
 .cls-32,
 .cls-30,
 .cls-33 {
  font-family: AdelleSans-Regular, 'Adelle Sans';
 }

 .cls-28,
 .cls-29 {
  fill: #1d1d1b !important;
 }

 .cls-34,
 .cls-15,
 .cls-35,
 .cls-17,
 .cls-36,
 .cls-37,
 .cls-22 {
  font-family: AdelleSans-Bold, 'Adelle Sans';
  font-weight: 700;
 }

 .cls-34,
 .cls-38,
 .cls-35,
 .cls-17,
 .cls-8,
 .cls-22,
 .cls-13,
 .cls-39 {
  stroke-miterlimit: 10;
 }

 .cls-34,
 .cls-35,
 .cls-17,
 .cls-32,
 .cls-22 {
  font-size: 15px;
 }

 .cls-34,
 .cls-35,
 .cls-17,
 .cls-22 {
  stroke-width: 0.5px;
 }

 .cls-34,
 .cls-35,
 .cls-29,
 .cls-9,
 .cls-10 {
  stroke: #fff !important;
 }

 .cls-34,
 .cls-35,
 .cls-40,
 .cls-37,
 .cls-30,
 .cls-33 {
  fill: #6d4545 !important;
 }

 .cls-41,
 .cls-36,
 .cls-32 {
  fill: #b14a4b !important;
 }

 .cls-16,
 .cls-2,
 .cls-42,
 .cls-43,
 .cls-44,
 .cls-45,
 .cls-19,
 .cls-46,
 .cls-47,
 .cls-24,
 .cls-48,
 .cls-26,
 .cls-27,
 .cls-49,
 .cls-50 {
  fill-rule: evenodd !important;
 }

 .cls-23,
 .cls-26 {
  fill: #f2e0da !important;
 }

 .cls-42,
 .cls-51 {
  fill: #ededed !important;
 }

 .cls-43 {
  fill: #e2ebe8 !important;
 }

 .cls-3,
 .cls-4,
 .cls-52 {
  stroke: #999 !important;
 }

 .cls-3,
 .cls-4,
 .cls-52,
 .cls-5 {
  stroke-linejoin: bevel;
  stroke-width: 0.22px;
 }

 .cls-3,
 .cls-52 {
  stroke-dasharray: 0.88 0.88;
 }

 .cls-44 {
  fill: #f7f7f7 !important;
 }

 .cls-38 {
  fill: #e9b7a9 !important;
 }

 .cls-38,
 .cls-17,
 .cls-22,
 .cls-39 {
  stroke: #6d4545 !important;
 }

 .cls-4 {
  stroke-dasharray: 0.44 0.44;
 }

 .cls-35,
 .cls-22,
 .cls-53 {
  letter-spacing: 0em;
 }

 .cls-31 {
  fill: #9d9d9c !important;
  font-size: 13px;
 }

 .cls-45,
 .cls-54 {
  fill: #e5eaf7 !important;
 }

 .cls-52,
 .cls-24,
 .cls-25 {
  fill: url(#Nueva_muestra_de_motivo_copia_2);
 }

 .cls-18 {
  font-size: 6.83px;
 }

 .cls-29 {
  stroke-width: 0.88px;
 }

 .cls-55 {
  isolation: isolate;
 }

 .cls-5 {
  stroke: #9d9d9c !important;
  stroke-linecap: square;
 }

 .cls-56 {
  clip-path: url(#clippath-1);
 }

 .cls-57 {
  letter-spacing: 0em;
 }

 .cls-58 {
  letter-spacing: 0em;
 }

 .cls-59 {
  letter-spacing: 0em;
 }

 .cls-60 {
  letter-spacing: 0em;
 }

 .cls-6 {
  stroke: #80c2d7;
 }

 .cls-61 {
  letter-spacing: 0em;
 }

 .cls-36 {
  font-size: 19px;
 }

 .cls-62 {
  letter-spacing: 0em;
 }

 .cls-21,
 .cls-33 {
  font-size: 16px;
 }

 .cls-8 {
  stroke: #1d1d1b;
  stroke-width: 0.26px;
 }

 .cls-37 {
  font-size: 17px;
 }

 .cls-9 {
  stroke-width: 0.88px;
 }

 .cls-10 {
  stroke-width: 0.88px;
 }

 .cls-63 {
  letter-spacing: 0em;
 }

 .cls-46,
 .cls-64 {
  fill: #71ccf4;
 }

 .cls-47 {
  fill: #009bd6;
 }

 .cls-65,
 .cls-50 {
  fill: #519e8e;
 }

 .cls-66 {
  letter-spacing: -0.08em;
 }

 .cls-67 {
  letter-spacing: -0.08em;
 }

 .cls-68 {
  letter-spacing: -0.08em;
 }

 .cls-11 {
  stroke: #9e9d9c;
  stroke-width: 0.75px;
 }

 .cls-69 {
  letter-spacing: -0.07em;
 }

 .cls-70 {
  letter-spacing: -0.06em;
 }

 .cls-12 {
  stroke: #b14a4b;
 }

 .cls-48 {
  fill: url(#Nueva_muestra_de_motivo_2);
  opacity: 0.5;
 }

 .cls-71 {
  letter-spacing: -0.02em;
 }

 .cls-72 {
  letter-spacing: -0.02em;
 }

 .cls-73 {
  letter-spacing: -0.02em;
 }

 .cls-74 {
  letter-spacing: -0.02em;
 }

 .cls-75 {
  letter-spacing: -0.03em;
 }

 .cls-76 {
  letter-spacing: -0.02em;
 }

 .cls-77 {
  letter-spacing: -0.02em;
 }

 .cls-78 {
  letter-spacing: -0.02em;
 }

 .cls-79 {
  letter-spacing: -0.02em;
 }

 .cls-80 {
  letter-spacing: -0.01em;
 }

 .cls-81 {
  letter-spacing: -0.02em;
 }

 .cls-82 {
  letter-spacing: -0.02em;
 }

 .cls-83 {
  letter-spacing: -0.02em;
 }

 .cls-84 {
  letter-spacing: -0.01em;
 }

 .cls-85 {
  letter-spacing: -0.01em;
 }

 .cls-86 {
  letter-spacing: -0.01em;
 }

 .cls-87 {
  letter-spacing: -0.01em;
 }

 .cls-88 {
  letter-spacing: -0.02em;
 }

 .cls-89 {
  letter-spacing: -0.02em;
 }

 .cls-90 {
  letter-spacing: -0.02em;
 }

 .cls-91 {
  letter-spacing: -0.01em;
 }

 .cls-92 {
  letter-spacing: -0.01em;
 }

 .cls-93 {
  letter-spacing: -0.01em;
 }

 .cls-94 {
  letter-spacing: -0.04em;
 }

 .cls-95 {
  letter-spacing: -0.05em;
 }

 .cls-96 {
  letter-spacing: -0.03em;
 }

 .cls-97 {
  letter-spacing: -0.03em;
 }

 .cls-98 {
  letter-spacing: -0.03em;
 }

 .cls-13 {
  stroke: #e3e3e3;
  stroke-width: 0.13px;
 }

 .cls-99 {
  letter-spacing: -0.03em;
 }

 .cls-100 {
  letter-spacing: -0.04em;
 }

 .cls-39,
 .cls-101 {
  fill: #f0dfd9;
 }

 .cls-102 {
  letter-spacing: -0.04em;
 }

 .cls-103 {
  letter-spacing: -0.03em;
 }

 .cls-104 {
  letter-spacing: -0.03em;
 }

 .cls-105 {
  letter-spacing: -0.03em;
 }

 .cls-106 {
  letter-spacing: 0em;
 }

 .cls-107 {
  letter-spacing: 0em;
 }

 .cls-108 {
  letter-spacing: 0em;
 }

 .cls-109 {
  letter-spacing: 0em;
 }

 .cls-110 {
  letter-spacing: 0em;
 }

 .cls-111 {
  letter-spacing: 0em;
 }

 .cls-112 {
  letter-spacing: 0em;
 }

 .cls-113 {
  letter-spacing: -0.01em;
 }

 .cls-114 {
  letter-spacing: -0.01em;
 }

 .cls-115 {
  letter-spacing: 0em;
 }

 .cls-116 {
  letter-spacing: 0em;
 }

 .cls-117 {
  letter-spacing: 0em;
 }

 .cls-118 {
  letter-spacing: 0em;
 }

 .cls-119 {
  letter-spacing: 0em;
 }

 .cls-120 {
  letter-spacing: 0em;
 }

 .cls-121 {
  letter-spacing: 0em;
 }

 .cls-122 {
  letter-spacing: 0em;
 }

 .cls-123 {
  letter-spacing: 0em;
 }

 .cls-124 {
  letter-spacing: 0em;
 }

 .cls-125 {
  letter-spacing: 0em;
 }

 .cls-126 {
  letter-spacing: 0em;
 }

 .cls-127,
 .cls-49 {
  fill: #364b9b;
 }

 .cls-128 {
  letter-spacing: 0em;
 }

 .cls-129 {
  letter-spacing: 0em;
 }

 .cls-130 {
  letter-spacing: 0em;
 }

 .cls-131 {
  letter-spacing: 0em;
 }

 .cls-132 {
  letter-spacing: 0em;
 }

 .cls-133 {
  letter-spacing: 0em;
 }

 .cls-134 {
  letter-spacing: 0em;
 }

 .cls-135 {
  clip-path: url(#clippath);
 }

 .cls-27 {
  fill: #f7bfb0;
 }
}
