.main-socialMedia {
 margin-bottom: $gutter / 2;
}

.social-media__icons+.social-media__icons {
 margin-left: $gutter;
}

.social-media__icons:hover {
 color: rgba($color-White, 0.7);
}

.section {
 // background: #000;
 margin-top: 80px;

 &Title {
  text-align: center;
  font-family: $fontFamily;
  font-size: clamp(27px, 2vw + .5rem, 38px);
  color: $color-primary;
  line-height: clamp(35px, 2vw + .5rem, 51px);
  text-wrap: pretty;
  margin-top: 45px;
  margin-bottom: 3rem;

  @include mq(pc) {
   text-align: left;
  }

 }

 &SubTitle {
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: clamp(23px, 2vw + .5rem, 23px);
  color: $color-text;
  font-family: $fontFamily;

 }

 &Description {
  font-size: clamp(16px, 1.3vw, 16px);
  line-height: 19px;
  text-align: center;

  margin-top: .5em;
  margin-bottom: 1.6em;
  @extend .marginAuto;

 }

 &Paragraph {
  font-weight: normal;
  font-size: clamp(17px, 2vw + .5rem, 17px);
  line-height: 1.55;
  color: $color-text2;
  font-family: $fontFamily2;

  &+.sectionParagraph {
   margin-top: $gutter;
  }
 }

 &_video {
  width: 100%;
  aspect-ratio: 16 / 9;
 }
}