html {
 // scroll-behavior: smooth;
 // scroll-padding-top: 5rem;
}

/*
This boilerplate is based in ITCSS and SMACSS
*/

/*Config*/
// Variables, Funciones, Mixins
@import './config/configPage';

/* // Base and elements (generic) */
// Tipografía, animaciones, utilidades
@import './base/basePage';
// }

/* Vendors */
// Librerias externas

@import './vendors/flaticon/flaticon.css';
@import './vendors/sliderSwiper';
@import './vendors/sliderSwiperOriginal';

// @import './vendors/normalize.css';

.NNJ {
 /* // LAYOUT
// Escribe solo los estilos de layout (division en regiones del viewport) */
 @import './layout/layoutPage';

 /*===============================================
=============   MODULOS (SMACSS) O COMPONENTES (ITCSS) ===========
================================================*/
 /*  Son los elementos de UI de tu interfaz, como botones, tablas, menus, etc.
    Crea los archivos adicionales que necesites (uno por componente)     */

 @import './components/componentsPage';

 /* // Theme (colors and fonts) */
 // @import "./theme/dark-theme";
 // @import "./theme/typography";

 /* Efects */
 @import './effects/effectsPage';

 /* // Utilities (hacks)
// Todos los hacks que hayas necesitado para solucionar conflictos
// o resolver situaciones extremas. Se espera poder mejorarlos luego. */
 @import './hacks/hacks';

 /* // Páginas web */
 @import './pages/especial';
 @import './pages/especialSVG';
 @import './pages/especialSVGMobile';
}

// Recomendados
@import './themes/recomendados-ElTiempo';
/*===============================================
                    Estilos CMS
================================================*/
@import './CMS-ElTiempo/especialModular';

.NNJ {
 // overflow-x: hidden;
 max-width: 100vw;
 // background-color: $color-background;

 // background: url('https://www.eltiempo.com/infografias/2024/11/MisilesUK/assets/FondoMultimedia.jpg?2') center / cover no-repeat;

 @include mq(pc) {
  // background: url('../assets/FondoD2.jpg?2');
 }
}

.footer {
 // background: url('../assets/Fondo-FULL.jpg') center bottom no-repeat;
 background: transparent;
 // width: 100%;
 height: fit-content;
 position: relative;
 padding-block: 5rem !important;
 text-align: center;

 // &::before {//  content: '';
 //  z-index: -1;
 //  width: 100%;
 //  height: 100%;
 //  // height: 100px;
 //  background-size: 100% 100%;
 //  // background-image: url('../assets/Fondo-FULL.jpg');
 //  // background: #000;
 //  display: inline-block;
 //  position: absolute;
 //  top: 0;
 //  left: 0;
 //  bottom: 0;
 //  right: 0;
 //  transform: rotate(180deg);
 // }

 &Title {
  color: $color-primary;
  font-family: $fontFamily;
  font-size: clamp(23px, 4vw, 23px);
  line-height: 30px;
  margin-bottom: 43px;
 }

 .contenedor2-pc {
  @include mq(pc) {
   display: flex;
  }
 }

 &-contenedorPersonas {
 }

 &Area {
  margin-bottom: 1.4rem;
  font-family: $fontFamily2;
  font-weight: bold;
  color: #6d4545;
  font-size: clamp(16px, 2vw, 16px);

  @include mq(pc) {
  }
 }

 &Name {
  @include mqmax(pc) {
   display: block;
  }

  font-weight: normal;
 }

 &-datosAdicionales {
  width: min(90%, 480px);
  text-align: center;
  @extend .marginAuto;
 }
}

.contenedorTrustProject {
 @include mq(pc) {
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin-bottom: 2rem;
 }
 .col1 {
  width: min(70%, 400px);
  @extend .marginAuto;
  margin-bottom: 3rem;

  @include mq(pc) {
   margin-bottom: 0;
  }
 }
 .col2 {
  @include mq(pc) {
   border-left: 1px solid #6d4545;
   padding-left: 2rem;
  }
 }
 .description {
  font-size: 15px;
  color: #191919;
  font-family: $fontFamily2;
  line-height: 23px;
  margin-bottom: 10px;
 }
 .enlace {
  color: #b24a4a;
  font-size: 15px;
  font-weight: bold;
  font-family: $fontFamily2;
  margin-top: 12px;
  display: inline-block;
 }

 .titulo {
  color: #6d4545;
  font-size: 15px;
  font-family: $fontFamily2;
  line-height: 23px;
  font-weight: bold;
  margin-bottom: 1em;
 }

 .parrafo {
  color: #6d4545;
  font-size: 15px;
  font-family: $fontFamily2;
  line-height: 23px;
  font-weight: normal;
  margin-bottom: 1em;
 }
 .titulo2 {
  color: #6d4545;
  font-size: 16px;
  font-family: $fontFamily2;
  line-height: 23px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 31px;
 }
 .subtitulo {
  color: #6d4545;
  font-size: 14px;
  font-family: $fontFamily2;
  line-height: 23px;
  font-weight: bold;
  margin-top: 36px;
 }

 .enlaceTrust {
  color: #b24a4a;
  font-size: 15px;
  font-family: $fontFamily2;
  line-height: 23px;
 }
}
